@import "partials/fonts";

/* ==========================================================================
   Typography
   ========================================================================== */

// If targeting a text element (ie. h1-h6, p, li, blockquote), try to style here.
// The exception is header/footer navigation and unique list styles.

body {
	color: $text-color;
	font: 14px/26px $proxima, $sans-serif;
}

/*    Headers
/*--------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	color: $header-color;
	font-weight: bold;
	clear: both;
	margin: 0;
}

// Using em's to make the size relative to the base font and line height set for the body
// ex. 14px * 3em = 42px
.page {

	h2, h3, h4, h5, h6 {
		margin-top: 30px;
		margin-bottom: 20px;
	}
}
.home {

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
	h4 {
		margin-bottom: 15px;
	}
}
h1 {
	font-size: 4em; // 14 * 4 = 56
	line-height: 1.1em;
	margin: 0 0 15px 0;
}
h2 {
	font-size: 3em; // 14 * 3 = 42
	line-height: 1.2em;
}
h3 {
	font-size: 2.2em; // 14 * 2.2 = 30.8
	line-height: 1.2em;
}
h4 {
	font-size: 2em; // 14 * 2 = 28
	line-height: 1.2em;
}
h5 {
	font-size: 1.5em; // 14 * 1.5 = 21
	line-height: 1.3em;
}
h6 {
	font-size: 1em; // 14 * 1 = 12
	line-height: 1.3em;
}

/* Custom Headers */
h1.search-title {
	margin: 25px 0 40px 0;
}
h1 span {
	display: block;
	font-size: .2em;
	line-height: 1em;
}
.home h2 {
	font-size: 2em;
	font-weight: bold;
	padding: 15px 15px 0 0;
	margin: 0;
}
.archive .main header h2 {
	font-size: 2em;
}
.tax-people_cat .main header h2.filter-title {
	color: #3280B3;
	background-color: #3280B3;
	padding: 0px 20px;
	border-radius: $radius;
	text-align: left;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: normal;

	span {
		background-color: white;
		display: inline-block;
		padding: 0 10px 0 15px;
	}
	.angle {
		background: url('../images/people-angle.png') no-repeat right top;
		display: inline-block;
		width: 10px;
		padding: 0;
	}
}
.home .col h3, .col + .col h3 {
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: 2px solid $border-color;
	font-size: 1.5em;
}
.home .col h3 {
	margin-bottom: 30px;
}
nav h3, .side h3 {
	font-size: 1.5em;
	margin: 0 0 20px 0;
}
.archive .main header h3 {
	font-size: 1.2em;
}
.filter h3 {
	margin-bottom: 15px;
}
.home h4 {
	font-size: 1em;
	line-height: 0em;
}
.col + .col h4 {
	font-size: 1em;
}

/*    Text Elements
/*--------------------------------------*/

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
hr {
	color: $border-color;
	background-color: $border-color;
	height: 1px;
	border: none;
	margin: 30px 0;
}
p {
	margin: 20px 0;
}
h1, h2, h3, h4, h5, h6 {
	+ p, + ul, + ol, + dl {
		margin-top: 5px;
	}
}
ul, ol {
	padding: 0;
}
li {
	margin: 0 0 0 20px;
	list-style-type: disc;
}
ol li {
	list-style-type: decimal;
}
cite {
	font-style: italic;
}
blockquote {
	padding: 5px 40px 5px 22px;
	font-size: 1.5em;
	line-height: 1.3em;
	font-style: italic;
	color: $secondary;
	border-left: 15px solid $separator-color;
	margin: 30px 0;
}
figcaption {
	font-style: italic; 
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 25px 0;
	font-weight: normal;
}

/*    Links
/*--------------------------------------*/

a:link, .col a h4 {
	text-decoration: none;
	color: $link-color;
	font-weight: bold;
	@include transition(color 0.24s ease-in-out);
}
a:hover, a:focus, a:active, 
.col a h4:hover, .col a h4:focus, .col a h4:active {
	color: $link-hover-color;
}
.col a:visited {
	color: $link-visited-color;
}

// This adds icon to links that lead to outside the website
// Change URL to domain of website as need
article a[href*="//"]:not([href*="sol.dev"]) {
	background: url('../images/new-window.png') no-repeat right center;
	padding-right: 12px;
	margin-right: 5px;
}

/*    Accessibility
/*--------------------------------------*/

// Accessible way to hide text
.hidden {
	@extend %visuallyhidden;
}
.skip {
	float: left;
}
.skip:focus {
	position: static;
	width: auto;
	height: auto;
} 