// *********************
// COLORS
// *********************/

// Define Colors
$ucla-blue:				#347bad;
$dark-blue:				#0277bd;

// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$ucla-blue;
$primary-light:			tint($primary, 30%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$dark-blue;
$secondary-light: 		tint($secondary, 73% );
$secondary-dark: 		darken($secondary, 15% );

// Text Colors
$text-color:			rgba(black, .87);
$secondary-text-color:	rgba(black, .53);
$light-text-color:		white;
$link-color:			$secondary-light;
$link-hover-color:		$secondary;
$link-visited-color:	$secondary-dark;
$header-color:			$primary;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$secondary-light;
$background-color:		$primary-light;
$button-color:			$secondary-light;
$button-hover-color:	#3280B3; //$secondary;
$bullet-point:			$secondary;
$background-light:		rgba(black, .03);
$background-dark:		rgba(black, .06);

// *********************
// NUMBERS
// *********************/

//Global Border Radius
$radius:				5px;
$site-width:			940px;