/* ==========================================================================
   Button Styles
   ========================================================================== */

// *********************
// BUTTON DEFAULTS
// *********************/

%btn {
	background-color: $button-color;
	color: $light-text-color!important;
	padding: 3px 0;
	font-weight: bold;
	letter-spacing: 1px;
	min-width: 110px;
	display: inline-block;
	text-align: center;
	border: none;
	cursor: pointer;
	position: relative;
	@include border-radius($radius);
	@include transition(background-color 0.24s ease-in-out);

	&:hover, &:focus {
		background-color: $button-hover-color;
		color: $light-text-color;
	}
	&:active {
	  top: 1px;
	}
}
.btn, button, input[type="submit"], .page .btn, .single .btn, a.btn  {
	@extend %btn;
}