/* ==========================================================================
   Main Styles - Desktop
   ========================================================================== */
   
/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/
body {
	
}
#container {
	
}
.content, header {
	width: $site-width;
	margin: 0 auto;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 318px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
	@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}

/*    H O M E  P A G E
/*--------------------------------------*/

.home #hero {
	height: 438px;
	margin: 0 0 40px 0;
	
	.content {
		width: 100%;
		height: 438px;
		background: url('../images/hero-bg.png') repeat-x left bottom;
	}
	.hero-description {
		font-size: 1.5em;
		font-style: italic;
		color: white;
		text-align: right;
		width: 580px;
		padding: 350px 0 0 360px;
		margin: 0 auto;
	}
}
.home .col {
	width: 460px;
	float: left;
	
	li {
		padding: 0px 15px 5px 0;
		margin: 0 0 25px 0;
		clear: both;
		list-style: none;
		
		.news-item {
			float: right;
			width: 320px;
		}
		.news-item p {
			color: $text-color;
			font-weight: normal;
		}
	}
	img {
		margin-top: -6px!important;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: .85em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.news-col .btn {
		margin-top: -5px;
	}
}
.home .col + .col {
	width: 220px;
	margin: 0 0 0 20px;
	background-color: white;
	padding: 0;

	li {
		padding: 0;
		border: none;
	}
}
.home .news-col .btn {
	margin-left: 125px;
}
.home .events-col ul {
	margin-top: 0;
}

/*    H E A D E R
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			//width: 690px;
            width: 560px;
			display: inline-block;
			margin: 0 0 0 20px;
			text-align: left;
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		//width: 581px;
		//height: 72px;        
        width: 486px;
        height: 62px;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		width: 730px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 20px;
	}
    .search-form {
        float: right;
        width: 200px;
    }
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		.btn.give {
			background-image: url('../images/heart-icon.png');
			background-position: 11px center;
			background-repeat: no-repeat;
			padding-left: 27px!important;
			margin: 0 auto;
			text-align: left;
			min-width: 90px;
		}
		span {
			font-size: .85em;
			display: block;
		}
	}
    a.logo-link:hover {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.4;
        filter: alpha(opacity=10);
        @include transition(all 0.24s ease-in-out);
    }
	.university-logo {
		float: left;
		//margin-top: 20px;
		// For retina, upload image 2x larger and resize here
		//width: 119px;
		//height: 38px;        
        width: 156px;
        height: 50px;
	}
}
.breadcrumbs {
	//background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: $secondary-text-color;
	font-size: .85em;
	padding:0;
	margin-bottom: 40px;
    border-bottom: #e6e6e6 2px solid;
	
	img {
		margin: 0;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		clear: both;
		float: left;
	}
	li {
		float: left;
		display: inline-block;
		padding: 0 0 0px 10px;
		margin: 0;
	}
	li + li {
		margin: 0 0 0 5px;
		background: url('../images/arrow.png') no-repeat left center;
	}
	a {
		font-weight: bold;
		color: $secondary-text-color;
		text-decoration: underline;
	}
}

/*    N A V I G A T I O N
/*--------------------------------------*/
.nav-container {
    background-color: #003358;    
    height: 46px;
    float: left;
    width: 100%;
    display: block;
    margin:20px 0px 4px 0px;
    
    .content {
        display: block;
    }
    .give-back:hover, .give-back:hover:before{        
        background-color: #4aaae6;        
    }
    .give-back {
		width: 130px;
		text-align: center;
		float: right;        
        max-height: 46px;
		//margin-top: 20px;

		.btn.give {
			background-image: url('../images/heart-icon.png');
			background-position: 11px center;
			background-repeat: no-repeat;
            background-color: transparent;
			padding-left: 27px!important;
			margin: 7px auto;
			text-align: left;
			min-width: 98px;
            padding: 0px;
            border-radius: 0px;
		}
		span {
			font-size: .70em;
			display: block;
            color: $light-text-color;
            line-height: 1px;
            letter-spacing: normal;
            margin: 0px -20px;
            font-weight: normal;
		}
	}
    
}

.nav-container nav ul, footer nav ul {
	padding: 0;
	margin: 0;
	float: left;
}
footer nav ul li {
	display: inline-block;
	margin: 0 10px 0 0;
}

.nav-container nav ul li {
	position: relative;
    display: inline-block;
	margin: 0;
}
.nav-container nav ul li, .nav-container nav ul li.menu-item-has-children {    
    background-image: url('../images/nav-arrow-border.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-right:20px;
    padding-left:5px;
}
/* Drop Down */
.nav-container nav ul li ul {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	padding: 0 10px;
	width: 170px;
	top: 40px;
    left: -13px;
	border-top: 4px solid $separator-color;
	margin-top: 5px;
	background-color: #f2f2f2;
	z-index: 10000;
	@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
	@include transition(all 0.24s ease-in-out);
}
.nav-container nav ul li ul li, .nav-container nav ul li ul li a { 
	display: block;
	margin: 0;
    background: none;
    padding-right: 0px;    
    text-transform: capitalize;
    font-weight: normal;
}
.nav-container nav ul li ul li a {
	line-height: 1em;
	padding: 6px 0;
}
.nav-container nav ul li ul li a:link, .nav-container nav ul li ul li a:visited {
    color:#003357;    
	border-bottom: 1px dotted #b5d2e6;
    background: none;
}
.nav-container nav ul li ul li a:hover, .nav-container nav ul li ul li:hover, .nav-container nav ul li ul li:hover:before  {
    background: none;
    content: '';
}
.nav-container nav ul li:hover, .nav-container nav ul li.menu-item-has-children:hover, .nav-container .give-back { 
    background: $separator-color url('../images/hover-nav-arrow-right.png') no-repeat right -5px center;
}
.nav-container nav ul li:hover:before, .nav-container nav ul li.menu-item-has-children:hover:before, .nav-container .give-back:before  { 
    content:url('../images/hover-nav-arrow-left.png');
    position:absolute;
    z-index:10;
    margin-left:-20px;
    padding-right: 6px;
    background:$separator-color;
    height: 46px;
    overflow: hidden;
}


.nav-container nav ul li:hover ul, .nav-container nav .sub-menu.open {
	display: block;
	opacity: 1;
	visibility: visible;
}
.nav-container nav ul li.menu-item-has-children a {
	background: url('../images/nav-arrow.png') no-repeat right center;
	padding-right: 10px;
}
.nav-container nav ul li ul li.menu-item-has-children {
	background: none;
}
.nav-container nav a, footer nav a {
	font-weight: bold;
	text-transform: uppercase;
	font-size: .85em;
	letter-spacing: 1px;
    padding: 10px 0px;
    display: block;
}
.nav-container nav a, .nav-container nav a:link {
	color: $light-text-color;
	@include transition(all 0.24s ease-in-out);
}
.nav-container nav a:hover, .nav-container nav a:focus, .nav-container nav a:active {
	color: $link-visited-color;    
}
.nav-container nav ul li ul li a:hover, .nav-container nav ul li ul li a:focus {
	color: $link-hover-color;    
}
footer a, footer a:link, footer .copyright p a, footer a:visited,
footer nav a:hover, footer nav a:active {
	color: $light-text-color;
}
 
/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.news-feed {
		margin-bottom: 40px;
		
		li {
			margin-bottom: 10px;
		}
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu,
	.current-page-ancestor .sub-menu {
		display: block;
		margin: 0 0 0 20px;
	}
	.sub-menu li:before {
		content: "•";
		color: $bullet-point;
		font-size: 1.5em;
		padding-right: 5px;
	}	
}
.col-nav {
		width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
}

/*    F O O T E R
/*--------------------------------------*/

footer {
	//background-color: $primary;
    background-color: $text-color;
	clear: both;
	margin-top: 60px;
	float: left;
	clear: both;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $light-text-color;
	font-size: 1em;
	line-height: 1.5em;
	
	nav ul.footer-nav {
		clear: left;
		float: left;
		margin-right: 50px;
	}
	nav ul.social-links {
		clear: right;
		float: right;
	}
	nav .icon {
		margin-left: 5px;
		display: inline-block;
		vertical-align: middle;
		
		// For retina, upload image 2x larger and resize here
		img {
			width: auto;
			height: 21px;
		}
		.email {
			height: 18px;
		}
	}
}
footer .copyright {
	padding-top: 50px;
	font-size: .85em;
	
	.university-logo {
		float: left;
		width: 100px;
		height: 32px;
	}
	p {
		float: left;
		margin: 0 0 0 20px;
	}
	span {
		margin: 0 5px;
	}
}

/*    P E R S O N  P A G E
/*--------------------------------------*/

.single-people .details {
	
	span {
		display: inline-block;
	}
	span + span {
		margin-left: 20px;
	}
	p {
		margin-top: 0px;
	}
}
.single-people .col + .col {
	margin-top: 0;
}
.single-people .bio {
	border-bottom: 1px solid $separator-color;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.single-people .photo {
	width: 280px;
	height: 280px;
	margin-bottom: 25px;
}
.single-people .circle {
	// To make circle, radius should be at least half the width and height
	border-radius: 140px;
}
.single-people .rounded {
	// Make radius 1/4 the width and height
	border-radius: 70px;
}
.link {
	background: url('../images/link-icon.png') no-repeat left center;
	padding-left: 18px;
}
.download {
	background: url('../images/download-icon.png') no-repeat left center;
	padding-left: 18px;
}

/*    P E O P L E  A R C H I V E
/*--------------------------------------*/

/* Filters */
.tax-people_cat .main header {
	text-align: center;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0px;
		letter-spacing: 0px;
		background-color: #E5E5E5;
		color: $secondary-text-color!important;
		@include transition(color 0.24s ease-in-out);
		
		&:active, 
		&:hover, 
		&:focus {
			color: $light-text-color!important;
		}
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
	button.is-checked {
		background-color: $button-hover-color;
		color: $light-text-color!important;
	}
	
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 0px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
}
.people-list .person-item {
	display: block;
	float: left;
	padding: 15px 14px;
	margin: 0px;
	// width: 220px;
	height: 330px;
	text-align: center;
	line-height: 1.3em;
	// @include transition(background-color 0.24s ease-in-out);

	a {
		display: block;
	}
	&:active, 
	&:hover, 
	&:focus {
		// background-color: $background-light;
	}
	.photo {
		width: 200px;
		height: 200px;
		border: 3px solid white;
		@include vendor-prefix('box-shadow', '0px 0px 4px 0px rgba(0,0,0,.33)');
		margin-bottom: 25px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
		border-radius: 55px;	
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 25px;
	}
	.name {
		color: $link-color;
		font-size: 1.4em;
	}
	.position {
		color: $secondary-text-color;
		font-size: 1.14em;
		font-style: italic;
		margin-top: 5px;
	}
	.email, .office, .office-hours, .phone {
		font-size: .85em;
		margin: 0;
	}
	.email a {
		background: url('../images/email-icon.png') no-repeat left center;
		font-size: 1em;
		padding-left: 25px;
		display: inline-block;
	}
}

/* Grad Student Page */
.term-grad .people-list {
}

/* Staff */
.term-staff .people-list {

	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
	.position {
		margin-top: 10px;
	}
}

/*    A R T I C L E S
/*--------------------------------------*/

.category, .search-results {

	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
		padding-top: 20px;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}
h1 + .publish-date {
	margin-top: -15px;
}
.single-post {
	
}

/*    T A B L E S
/*--------------------------------------*/

td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr {

}
tr:nth-of-type(odd) {
	background: $background-light;
}
tr:hover td
{
  background-color: $background-dark;
}
td
{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $border-color;
}

/*    O T H E R
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}

/* FAQ */
dl.faq {
	
	dt.question {
		background: white url('../images/inactive-arrow.png') no-repeat left 10px;
		padding-left: 15px;
		cursor: pointer;
	}
	dt.active {
		background: white url('../images/active-arrow.png') no-repeat left 10px; 
	}
	dd {
		margin-left: 15px;
	}
	dd > p {
		margin-top: 10px;
	}
}

// *********************
// COLOR PALETTE EXAMPLE
// Remove this before making site live
// *********************/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: #fff;
}